In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [13]:

list2 = [10, 20, 14, 55, 43, 87, 76]
print(list2)
print ("Number of item in the List2:", len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [16]:
print ("Artificial Intelligence")

Artificial Intelligence

In [22]:
name="Artificial Intelligence"
print(name)

Artificial Intelligence

In [14]:
name = "Artificial Intelligence"
print(name)
for char in name:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [30]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [31]:
Tuple1 = (1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [35]:
tuple1 = (0,1,2,3)
tuple2 = ('python', 'Hope')
tuple3 = (tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'Hope'))

In [18]:
num = (20,10,16,19,25,1,276,188)
print(num)
for temp in num:
    if(temp % 2 == 1):
        print(temp,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [19]:
num = (20,10,16,19,25,1,276,188)
print(num)
for temp in num:
    if(temp % 2 == 0):
        print(temp,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even